@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'ethnocentric';
    src: url(../fontes/ethnocentric/ethnocentric\ rg.otf);
}

:root{
    --fonte-destaque: 'ethnocentric', cursive;
    --fonte-titulo: 'Bebas Neue', cursive;
    --fonte-padrao: 'Poppins', sans-serif;

    --cor0: #fe76fe;
    --cor1: #fe492b;
    --cor2: #ff01a1;
    --cor3: #fe1250;
    --cor4: #7a04ec;
    --cor5: #120557;
    --corsubtitulo:#740623;
    


}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    background-image: url(../imagens/pattern-luzes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    
}



div#cabeçalho{
    background-image: url(../imagens/Grupo.grande.png);
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}



header{
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 50px;
    text-align: justify;
    background-image: linear-gradient(to bottom, var(--cor3), rgba(0, 0, 0, 0.623));
}

header#pages{
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 50px;
    text-align: justify;
    background-image: linear-gradient(to bottom, var(--cor3), rgba(0, 0, 0, 0.623));
}

header h1{
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.712);
}

header h2{
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.712);
}

header p{
    font-family: var(--fonte-titulo);
    font-size: 1.5em;
    color: white;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.712);
    
}

nav{
    margin: 0px 0px 15px 0px;
    padding: 15px 0px 15px 40px;
    background-color: rgba(0, 0, 0, 0.623);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.37);
}

nav a{
    padding: 1px 15px 1px 15px;
    text-decoration: none;
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    font-weight: bolder;
    transition-duration: 0.5s;
    border-radius: 5px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.712);
    
}

nav a:hover{
    text-decoration: underline;
    color: var(--cor4);
    background-color: rgba(255, 255, 255, 0.747);
    text-shadow: none;
}

section#discord{
    position: absolute;
    bottom: 5px;
    
}


section#discord h1{
    padding: 2px 0px 3px 20px;
    margin: 0px 0px 0px 40px;
    font-family: var(--fonte-titulo);
    font-size: 2em;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.685);
    width: 185px;
    border-radius: 2px;

}

section#discord h2{
    padding: 0px 0px 2px 20px;
    margin: 5px 0px 5px 40px;
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.685);
    width: 100px;
    border-radius: 2px;
}

section#discord p{
    padding: 10px 20px 10px 20px;
    margin: 5px 40px 10px 40px;
    max-width: 350px;
    min-width: auto;
    text-indent: 70px;
    text-align: justify;
    font-family: var(--fonte-padrao);
    background-color: rgba(255, 255, 255, 0.685);
    border-radius: 2px;
}

section#discord a{
    text-decoration: none;
}

section#discord a:hover{
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px 5px black;
}

main{
    padding: 30px 40px 20px 40px;
    text-align: justify;
    background-color: black;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}

main h1{
    font-family: var(--fonte-titulo);
    color: var(--cor3);
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    font-size: 2.2em;
}

main h2{
    font-family: var(--fonte-titulo);
    color: var(--corsubtitulo);
    text-indent: 20px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    font-size: 1.8em;
}

main h3{
    font-family: var(--fonte-titulo);
    color: var(--cor0);
    text-indent: 20px;
    margin: 0px 0px 10px 0px;
    font-weight: bold;
    font-size: 1.7em;
    text-align: center;
}

main p{
    font-family: var(--fonte-padrao);
    color: white;
    text-indent: 40px;
    margin: 0px 0px 40px 0px;
    font-size: 1em;
}

main a{
    text-decoration: none;
}

main a:hover{
    text-decoration: underline;
    color: white;
}

img.pequena{
    padding:  0px 0px 40px 0px;
    width: 100%;
    display: block;
    margin: auto;
}

img.grande{
    padding: 0px 0px 40px 0px;
    display: block;
    width: 100%;
    margin: auto;

}

h1.conteudo{
    font-family: var(--fonte-titulo);
    color: var(--cor2);
    margin: 0px 0px 0px 0px;
    font-weight: bold;
    font-size: 2.2em;

}

p.conteudo{
    font-family: var(--fonte-padrao);
    color: white;
    text-indent: 40px;
    margin: 0px 0px 40px 0px;
    font-size: 1em;
}


.membros{
    background-color: rgb(41, 41, 41);
    min-height: 100vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 40px 0px;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    height: 460px;
    margin: 25px;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    border: 2px solid black;
    
}

.card-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-bottom: 2px solid black;
}

.card-img{
    min-width: 100%;
    width: auto;
    height: 100%;
}

.card-body{
    height: 170px;
    text-align: center;
    font-family: var(--fonte-padrao);
    padding: 15px 0px 15px 0px;
    
}

.card-nome{
    font-family: var(--fonte-titulo);
    font-size: 2em;
    margin: 0px 0px;
    padding: 0px 0px 0px 0px;
    color: var(--cor5);
}

.card-nickname{
    font-family: var(--fonte-titulo);
    font-size: 1.5em;
    margin: 0px 0px;
    padding: 0px 0px 8px 0px;
    color: var(--cor4);
}

.card-info {
    font-family: var(--fonte-padrao);
    padding: 0px 0px 10px 10px;
    font-size: 1em; 
    text-align: left;
    text-indent: 0px;
    color: black;
    margin: 0px;
    
}



strong.card-info{
    color: var(--cor4);
    margin: 0px;
}

.card-footer{
    margin: 10px 0px 0px 0px;
    text-align: center;
    background-color: var(--cor5);
    border-top: 2px solid black;
}

.card-footer:hover{
    background-color: var(--cor4);
}

.card-footer a{
    color: white;
    display: block;
    text-decoration: none;
    font-family: var(--fonte-padrao);
    padding: 12px;
    font-weight: 600;
}


.card:hover{
    transform: scale3d(1.1, 1.1, 1);
}

section#rank > h1{
    margin: 0px 0px 20px 0px;
}


table{
    margin: auto;
    border-radius: 10px;
    background-color: #382d6b;
    border-collapse: collapse;
    margin-top: 40px;
}

caption{
    background-color: var(--cor5);
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid var(--cor3);
    padding: 10px;
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 1.8em;
}

thead{
    background-color: var(--cor5);
    color: white;
    font-family: var(--fonte-titulo);
    font-size: 1.5em;
    font-weight: 400;
}

tbody{
    background-color: #786cb1;
    font-family: var(--fonte-padrao);

}

th{
    border: 1px solid var(--cor3);
    padding: 8px;
    text-align: center;
    
}

th#bronze{
    background-image: linear-gradient(to right, #df4600, #611f00);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

th#prata{
    background-image: linear-gradient(to right, rgb(214, 214, 214), #555555);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

th#ouro{
    background-image: linear-gradient(to right, #8a5700, #ffbc02);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

th#platina{
    background-image: linear-gradient(to right, #A69E9F, #005B80);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

td {
    border: 1px solid var(--cor3);
    padding: 8px;
    text-align: left;
    
}

td a{
    color: black;
    text-decoration: none;
}

td a:hover{
    color: var(--cor3);
    text-decoration: underline;
}

.num{
    text-align: right;
}

.tabelagrande{
    overflow-x: auto;
}

section#consoles img{
    display: block;
    margin: auto;
    padding-bottom: 40px;
    max-width: 100%;
    width: 500px;
}

section#redesocial{
    position: absolute;
    left: 40%;
    transform: translate(-40%);
}

iframe#tela{
    position: relative;
    max-width: 300px;
    height: 500px;
    border-radius: 5px;
}

section#redes-sociais{
    text-align: right;
    width: 50px;
    margin-bottom: 150px;
    margin-left: 90%;

}

section#redes-sociais img{
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px white;
    box-sizing: border-box;
}

section#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.692);
}

@media (max-width: 400px){
    /*seção HEADER*/
    
        div#cabeçalho{
            background-image: url(imagens/Grupo.grande.png);
            height: 100vh;
            width: auto;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: relative;
        }
        
        
        
        header{
            padding-top: 25px;
            padding-bottom: 100px;
            padding-left: 50px;
            text-align: justify;
            background-image: linear-gradient(to bottom, var(--cor3), rgba(0, 0, 0, 0.623));
            
        }
        
        header h1{
            font-family: var(--fonte-destaque);
            font-size: 2.5em;
            color: white;
            text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.712);
            margin: 0px 0px 0px -15px;
        }
        
        header h2{
            font-family: var(--fonte-titulo);
            font-size: 1.8em;
            color: white;
            text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.712);
        }

        header p{
            font-family: var(--fonte-titulo);
            font-size: 1.5em;
            color: white;
            text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.712);
            margin: 0px 0px 0px -15px;
        }
    
    /*seção do DISCORD*/
    
        section#discord{
            position: absolute;
            bottom: 5px;
            width: 300px;
        }
    
        section#discord h1{
            padding: 2px 0px 3px 20px;
            margin: 0px 0px 0px 40px;
            font-family: var(--fonte-titulo);
            font-size: 1.8em;
            font-weight: bold;
            background-color: rgba(255, 255, 255, 0.685);
            width: 185px;
            border-radius: 2px;
        }
    
        section#discord h2{
            padding: 0px 0px 2px 20px;
            margin: 5px 0px 5px 40px;
            font-family: var(--fonte-titulo);
            font-size: 1.4em;
            font-weight: 400;
            background-color: rgba(255, 255, 255, 0.685);
            width: 100px;
            border-radius: 2px;
        }
    
        section#discord p{
            padding: 10px 20px 10px 20px;
            margin: 5px 40px 10px 40px;
            width: 185px;
            text-indent: 70px;
            text-align: justify;
            font-family: var(--fonte-padrao);
            font-size: 0.9em;
            background-color: rgba(255, 255, 255, 0.685);
            border-radius: 2px;
        }

    /*Seção body*/


        main h3{
            font-size: 1em;
            letter-spacing: 2px;
        }
    
    
    /*seção dos CARDS*/
    
        p.conteudo{
            font-family: var(--fonte-padrao);
            color: white;
            text-indent: 40px;
            margin: 0px 0px 10px 0px;
            font-size: 1em;
        }
    
        .membros{
            background-color: black;
            min-height: 100vh;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
        }
    
        .card{
            width: 290px;
            height: 460px;
            margin: 25px -13px 25px -13px;
            background-color: #fff;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
            transition: 0.3s;
            border: 2px solid black;
            
        }
    
        .card-nome{
            font-family: var(--fonte-titulo);
            font-size: 1.8em;
            margin: 0px 0px;
            padding: 0px 0px 0px 0px;
            color: var(--cor5);
        }
        
        .card-nickname{
            font-family: var(--fonte-titulo);
            font-size: 1.5em;
            margin: 0px 0px;
            padding: 0px 0px 20px 0px;
            color: var(--cor4);
        }
        
        .card-info{
            font-family: var(--fonte-padrao);
            font-size: 0.9em;
            width: 250px;
            margin: 0px 0px 0px 10px;
            padding: 0px 0px 10px 0px;
            text-align: left;
            
        }

        /*Seção das tabelas*/

        section#rank > h1{
            margin: 0px 0px 20px 0px;
            
        }

        .tabelagrande{
            overflow-x: auto;
        }

        /*Seção iframe*/

        section#redesocial{
            position: absolute;
            left: 25%;
            transform: translate(-25%);
        }
        
        iframe#tela{
            position: relative;
            width: 200px;
            height: 370px;
        }
        
        section#redes-sociais{
            text-align: right;
            margin-bottom: 150px;
            margin-left: 90%;
            
        }
        
        section#redes-sociais img{
            width: 35px;
            margin: 10px;
            border-radius: 50%;
            box-shadow: 2px 2px 5px white;
            
        }
        
}
    